


:root {
  --primary-color: #15803D;
  --secondary-color: #CFF0DC;
  --tertiary-color: #f2fff7;
}

.bg-color-primary {

    background-color: var(--primary-color);
}
.bg-color-secondary {

    background-color: var(--secondary-color);
}
.bg-color-tertiary {

    background-color: var(--tertiary-color);
}



.text-color-primary {

    color: var(--primary-color);
}